{% extends "base.html" %}
{% block content %}

<h1 class="page-title">ToyCraft Tales Story</h1>

<div class="tableau-wrapper">
    <div class='tableauPlaceholder' id='viz168'>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https://public.tableau.com/' />
            <param name='embed_code_version' value='3' />
            <param name='name' value='ToyCraft_Tales_Story/ToyCraftTalesTableausVisionintoToyManufacturerDataStory' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
        </object>
    </div>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz168');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = "100%";
    vizElement.style.height = "750px";
    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

{% endblock %}